nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #26365a;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .logo {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .logo img {
  width: 150px;
}

nav .nav-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  grid-gap: 3rem;
  padding: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .nav-links .search-button {
  padding-top: 8px;
}

nav .nav-links .nav-link {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 400;
  font-size: 1.2rem;
}

nav .nav-links .nav-link:hover {
  color: #e09100;
}

nav .action-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 2rem 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .action-btn button {
  padding: 0.7rem 1.5rem !important;
}

nav .action-btn .nav-link {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 400;
  font-size: 1.2rem;
}

nav .action-btn .nav-link:hover {
  color: #e09100;
}

footer {
  height: 30rem;
  padding-top: 200px;
  margin: 0;
  color: whitesmoke;
  background-color: #0e1b39;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

footer .link {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: 200;
  font-size: 0.9rem;
}

footer .footer-social-icon {
  color: #e09100;
}

footer p {
  font-size: small;
}

footer .top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw auto 20vw;
      grid-template-columns: 20vw auto 20vw;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  margin: 2rem 6rem 0 6rem;
  padding: 1rem 0;
}

footer .top .col-title p {
  font-weight: 300;
  font-size: medium;
}

footer .top #col1 {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

footer .top #col2 {
  text-align: right;
}

footer .top #col2 #footer-social-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45rem 45px 45px;
      grid-template-columns: 45rem 45px 45px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer .buttom {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  padding: 0.7rem;
  background-color: #e09100;
  border: none;
  border-radius: 0.2rem !important;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: #c78000;
}

.contact-us-name {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact-us-section {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 40%;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#26365a), to(#cfd1d1));
  background: linear-gradient(0deg, #26365a 0%, #cfd1d1 100%);
  border-radius: 10px;
}

.contact-us-section .email-form {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 500px;
  padding-left: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.contact-us-section .contact-us-btn {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 120px;
  margin-bottom: 40px;
}

.forgot-password {
  width: 50%;
  border: 3px solid #5473B7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.forgot-password .reset-password {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.forgot-password .reset-password .orange-form {
  border: 3px solid #e09100;
}

.forgot-password .reset-password .back-return a {
  text-decoration: none;
  color: #0DA814;
}

.forgot-password .reset-password .success-icon svg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #0DA814;
}

.forgot-password .reset-password .success-icon-cancel svg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: red;
}

.forgot-password .reset-password .ok-btn {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}

.reset-password .logo-tula {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.reset-password .use-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
}

.form-control {
  -webkit-transition: none;
  transition: none;
  width: 30px;
  height: 55px;
}

.form-control:focus {
  color: #3F4254;
  background-color: #ffffff;
  border-color: #884377;
  outline: 0;
}

.form-control.form-control-solid {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

section#header-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 96vw;
      grid-template-columns: 96vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #26365a;
  padding-bottom: 20px;
}

section#header-top #header-mask {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35vw 61vw;
      grid-template-columns: 35vw 61vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 30;
          column-gap: 30;
  background-color: white;
  border-radius: 8px;
  padding-top: 100px;
  padding-bottom: 50px;
}

section#header-top #header-mask .left {
  padding-left: 70px;
}

section#header-top #header-mask .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#header-top #header-mask .right .image-1 {
  width: 410px;
  height: 400px;
  border-radius: 50%;
  background-image: url("../img/nairobi-g975035f33_640.jpg");
  background-position: center;
  background-size: cover;
  border: dashed 1px #e09100;
}

section#header-top #header-mask .right .image-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../img/fish-market-g47462de54_1280.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 590px;
  border: dashed 1px #e09100;
}

section#header-top #header-mask .right .image-3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../img/banana-g598f315ac_1280.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 160px;
  left: 680px;
  border: dashed 1px #e09100;
}

section#header-top #header-mask .right .image-4 {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../img/woman-ge122247f5_1280.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  left: 1180px;
  border: dashed 1px #e09100;
}

.whychooseus {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.whychooseus-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whychooseus-section .whychooseus-text {
  width: 30%;
}

.whychooseus-section .whychooseus-image img {
  position: relative;
  width: 500px;
  z-index: 2;
}

.weird-image-1 {
  position: relative;
  z-index: 3;
  width: 140px;
  bottom: 450px;
  left: 1163px;
}

.weird-image-2 {
  position: relative;
  z-index: 1;
  width: 140px;
  left: 1025px;
  bottom: 80px;
}

.whychooseus-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.whychooseus-section-2 .whychooseus-image-2 img {
  width: 600px;
  z-index: 2;
  position: relative;
}

.whychooseus-section-2 .whychooseus-text-2 {
  width: 30%;
}

.weird-image-3 {
  width: 140px;
  z-index: 3;
  position: relative;
  bottom: 480px;
  left: 130px;
}

.weird-image-4 {
  width: 140px;
  z-index: 1;
  position: relative;
  bottom: 80px;
  right: 10px;
}

.tula-logo {
  height: 150vh;
  background-image: url("../img/TULASTACK 1.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tula-logo .tula-logo-section {
  background-color: #26365a;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  top: 700px;
}

.tula-logo .tula-logo-section .tula-logo-text {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tula-logo .tula-logo-section .tula-logo-text p {
  padding-bottom: 30px;
}

.trusted {
  padding-top: 300px;
  text-align: center;
  padding-bottom: 20px;
}

.trusted .orange-text {
  color: #e09100;
}

.trusted span {
  font-size: 4rem;
  font-weight: bold;
}

.world {
  height: 100vh;
  background-image: url("../img/world.jpg");
  background-position: center;
  background-size: cover;
}

.faqs-background {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 96vw;
      grid-template-columns: 96vw;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #26365a;
  margin-bottom: 620px;
}

.faqs-background .faqs-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 90vw;
      grid-template-columns: 90vw;
  background-color: white;
  border-radius: 8px;
}

.faqs-background .faqs-section h3 {
  text-align: center;
}

.faqs-background .faqs-section .faq-card {
  background: #26365A33;
  padding-left: 30px;
  margin-bottom: 30px;
}

#contactus {
  position: relative;
  z-index: 1;
}

#contactus .contactus-background {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 96vw;
      grid-template-columns: 96vw;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #26365a;
  padding-bottom: 30px;
}

#contactus .contactus-background .contactus-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 88vw;
      grid-template-columns: 88vw;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 18px;
}

#contactus .contactus-background .contactus-section h3 {
  text-align: center;
}

#contactus .go-paperless {
  background: #26365a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  width: 63% !important;
  color: white;
  padding: 120px 10px 120px 10px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  bottom: 5px;
}

#contactus .go-paperless img {
  width: 300px;
}

#contactus .go-paperless p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.9rem;
}

.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin .signin-logo img {
  width: 300px;
}

.signin-form {
  width: 60%;
  border: 3px solid #5473B7;
  margin-top: 80px;
}

.signin-form h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: bold;
}

.signin-form .login {
  gap: 50px;
}

.signin-form .signin-mask {
  width: 60%;
  margin: auto;
}

.signin-form .signin-mask .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.signin-form .signin-mask .checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin-form .signin-mask .terms {
  color: #0DA814;
}

.signin-form .signin-mask .keep-me-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
}

.signin-form .signin-mask .keep-me-in .forgot-password {
  text-decoration: none;
  color: #0DA814;
}

.signin-form .signin-mask .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  gap: 10px;
}

.signin-form .signin-mask .socials a svg {
  color: #e09100;
  border: 2px solid #e09100;
  border-radius: 50%;
  padding: 15px;
}

.signin-form .signin-mask .conditions {
  text-align: center;
  padding-top: 20px;
}

.signin-form .signin-mask .account {
  padding-top: 20px;
}

.signin-form .signin-mask .account a {
  color: #0DA814;
  text-decoration: none;
  padding-left: 3px;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link-pointer {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */